<div class="row row--with-cols-padding ">
    <div class="col-md-3">
        <widget-zone />
    </div>
    <div class="col-md-3">
        <widget-zone />
    </div>
    <div class="col-md-3">
        <widget-zone />
    </div>
    <div class="col-md-3">
        <widget-zone />
    </div>
</div>